/* ---------- HEATMAP ---------- */

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

path {
  stroke-linejoin: round;
}

.districts {
	fill: rgb(251,253,255);
}

.districts :hover {
  fill: orange;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #ddd;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
	stroke: #bbb;
	stroke-width: .5px;
}

#heatmap_legend {
  display: inline-block;
  margin-top: 40px;
  vertical-align: top;
}

#heatmap {
	width: 960px;
	display: inline-block;
}

#heatmap_container {
  width: 1400px;
  margin: 0 auto;
}

/* ---------- SCATTER ---------- */

body {
  font: 11px sans-serif;
}

.axis path,
.axis line {
  left: 1000px;
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}

.tooltip {
  position: absolute;
  margin-left: 20px;
  width: 200px;
  height: 28px;
  pointer-events: none;;
}

#scatter {
  width: 1000px;
  margin: 0 auto;
}

/* ---------- SCROLL BAR ---------- */

.bar {
  fill: steelblue;
  width: 1000px;
  margin: 0 auto;
}

.bar:hover {
  fill: brown;
}

#scrollbarchart {
  width: 1000px;
  margin: 0 auto;
}

body {
	background-color: #29516d;
	font-size: 17px;
}

#header{
	width: 100%;
	margin-bottom: 50px;
  padding-top: 20px;
  text-align: center;
  color: #fff;
  background: -moz-linear-gradient(top, #123752 0%, #29516d 100%); /* FF3.6+ subtle gradients */
}


#column1{
  float: left;
  width: 80%;
  background: #fff;
	margin-left: 10%;
}

#footer{
  clear: both;
  text-align: center;
  padding: 5px 0px 8px 0px;
  height: 75px;
  font-weight: normal;
}

#scatter_container, #heatmap_container, #scrollbarchart_container {
	padding-top: 40px;
}

.break {
	margin: 0px;
	height: 10px;
	width: 100%;
	background-color: #29516d;
}
